<!-- Modal -->
<!-- Button trigger modal -->
<h1>selamlar</h1>
<h2>deneme 2</h2>
<div class="form-group">
  <label for="exampleInputEmail1" class="text-center"> Form Adı İle Ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz"
  />
  <small id="emailHelp" class="form-text text-muted"></small>
</div>
<h5>deneme 2</h5>

<div *ngIf="filterText.length > 2" class="alert alert-success">
  {{ filterText }} aradınız
</div>
<div *ngIf="dataLoaded == false" class="text-center">
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="spinner-grow text-light-blue" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<table *ngIf="dataLoaded == true"  class="table table-striped">
  <thead>
    <tr  >
      <th  scope="col"> #</th>
      <th scope="col">cihaz ismi</th>
      <th scope="col">Arıza durumu</th>
      <th scope="col">Telefon numarası</th>
      <th scope="col">Arıza açıklaması</th>
      <th scope="col">Arıza kodu</th>
      <th scope="col">Arıza tarihi</th>
      <th scope="col">Kullanıcı id</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let _form of form | filter: filterText">
      <th>{{ _form.id }}</th>
      <td>{{ _form.deviceName | uppercase }}</td>
      <td>{{ _form.formStatus | status }}</td>
      <td>{{ _form.phoneNumber }}</td>
      <td>{{ _form.formDesc }}</td>
      <td>{{ _form.formCode }}</td>
      <td>{{ _form.formDate | date }}</td>
      <td>{{ _form.userId }}</td>
      <td>
        <div class="flex">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            güncelle
          </button>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Güncellenecek olan arızanın bilgilerini giriniz
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="updateForm">
                  <div class="mb-3">
                    <input
                      placeholder="id"
                      value="{{ _form.id }}"
                      type="number"
                      name="deviceName"
                      id="deviceName"
                      formControlName="id"
                      class="form-control"
                    />
                  </div>
                  <div class="mb-3">
                    <input
                      placeholder="Cihaz markası"
                      type="text"
                      name="deviceName"
                      id="deviceName"
                      formControlName="deviceName"
                      class="form-control"
                    />
                  </div>
                  <div class="mb-3">
                    <input
                      placeholder="Form Açıklaması"
                      type="text"
                      name="formDesc"
                      id="formDesc"
                      formControlName="formDesc"
                      class="form-control"
                    />
                  </div>

                  <div class="mb-3">
                    <input
                      placeholder="Telefon Numarası"
                      type="text"
                      name="phoneNumber"
                      id="phoneNumber"
                      formControlName="phoneNumber"
                      class="form-control"
                    />
                  </div>
                  <div class="mb-3">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option selected >Form durumu seçiniz</option>
                      <option value=1>Aktif</option>
                      <option value=2>Pasif</option>
                    </select>
                  </div>

                  <h6>tarih</h6>
                  <input
                    readonly
                    type="text"
                    value="{{ date }}"
                    name="formStatus"
                    id="formStatus"
                    formControlName="formDate"
                    class="form-control"
                  />
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  iptal et
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-dismiss="modal"
                  (click)="updateForms(_form)"
                >
                  Değişiklikleri kaydet
                </button>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="flex">
          <button (click)="deleteForm(_form)" class="btn btn-danger mx-2">
            Sil
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
